<table class="table w-100 table-striped">
  <thead class="thead-dark">
  <tr class="row">
    <th class="col-1"># Cats</th>
    <th class="col-4">(Name)</th>
    <th class="col-1"># Cat Breeds</th>
    <th class="col-4">(Name)</th>
    <th class="col-2">
      <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-success w-50 text-truncate"
                >Insert</button>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="row">
    <th class="col-1">1</th>
    <td class="col-4">fsdfsd</td>
    <th class="col-1" scope="row">2</th>
    <td class="col-4 text-wrap">fsdfsdf</td>
    <td class="col-2">
      <div class="d-flex justify-content-end">
        <div class="d-flex flex-column w-50">
          <button class="btn btn-sm btn-danger text-truncate"
                  >Delete</button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
