<table class="table w-100 table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">
      <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-success w-25 text-truncate"
                (click)="insertCat()">Insert</button>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cat of cats; trackBy: trackByFn">
    <th scope="row">{{cat.idCats}}</th>
    <td>{{cat.name}}</td>
    <td class="text-wrap">{{cat.description}}</td>
    <td>
      <div class="d-flex justify-content-end">
        <div class="d-flex flex-column w-25">
          <button class="btn btn-sm btn-success text-truncate"
                  (click)="updateCat(cat)">Update</button>
          <button class="btn btn-sm btn-danger text-truncate"
                  (click)="deleteCat(cat)">Delete</button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
