<div class="d-flex w-100 justify-content-center">
  <div class="menu-tables w-75 d-flex flex-column center-block bg-transparent">
    <button class="p-4 mt-4 align-self-start w-50"
            (click)="showBreedsForCats()">
      Breeds for cats
    </button>
    <button class="p-4 align-self-center w-50"
            (click)="showCatBreeds()">
      Cat breeds
    </button>
    <button class="p-4 mb-4 align-self-end w-50"
            (click)="showCats()">
      Cats
    </button>
  </div>
</div>
